/* SoccerField.css */
.soccer-field {
    position: relative;
    width: 40vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28a745;
    border: 4px solid #ffffff;
    margin: 0 auto; /* 중앙 정렬 */
}

.field-line {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.horizontal {
    height: 2px;
    width: 100%;
}

.horizontal.top {
    top: 0;
}

.horizontal.middle {
    top: 50%;
    transform: translateY(-50%);
}

.horizontal.bottom {
    bottom: 0;
}

.vertical {
    width: 2px;
    height: 100%;
}

.vertical.left {
    left: 0;
}

.vertical.right {
    right: 0;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 15%;
    border: 4px solid #ffffff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.penalty-box-top {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40%;
    height: 13%;
    border: 4px solid #ffffff;
    transform: translate(-50%);
}

.penalty-box-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40%;
    height: 13%;
    border: 4px solid #ffffff;
    transform: translate(-50%);
}

.goal-box-top {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15%;
    height: 5%;
    border: 4px solid #ffffff;
    transform: translate(-50%);
}

.goal-box-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 15%;
    height: 5%;
    border: 4px solid #ffffff;
    transform: translate(-50%);
}

.corner {
    position: absolute;
    width: 4%;
    height: 3%;
    border: 4px solid #ffffff;
    overflow: hidden;
}

.corner-top-left {
    top: 0%;
    left: 0%;
    border-radius: 0 0 100% 0;
}

.corner-top-right {
    top: 0%;
    right: 0%;
    border-radius: 0 0 0 100%;
}

.corner-bottom-left {
    bottom: 0%;
    left: 0%;
    border-radius: 0 100% 0 0;
}

.corner-bottom-right {
    bottom: 0%;
    right: 0%;
    border-radius: 100% 0 0 0;
}