/* App.css */

body, html, #root {
  margin: 0;
  padding-left: 30px; /* 기본 패딩 */
  padding-right: 30px; /* 기본 패딩 */
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-container {
  width: 100%;
  min-width: 50rem;
  justify-content: center;
  align-items: center;
}

.board-parent {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  display: flex;
}

.operation {
  justify-content: center;
  align-items: center;
  padding: 1em;
  max-width: 30rem; /* 최대 너비 설정 */
  min-width: 12.5rem; /* 최소 너비 설정 */
}

.board-container {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ground {
  padding: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 30rem; /* 최소 너비 설정 */
}

.simulation-card {
  padding-top: 2em;
  justify-content: center;
  align-items: center;
  height: 100px;
}


.MuiDrawer-paper {
  position: relative;
}

@media (max-width: 1200px) {
  .board-image {
    width: 100%;
  }

  .ground,
  .operation {
    width: 100%;
  }
}

/* 반응형 설정: 화면 크기가 768px 이하일 때 패딩을 줄입니다. */
@media (max-width: 768px) {
  body, html, #root {
    padding: 0; /* 패딩을 없앱니다. */
  }
  .App-header {
    overflow: hidden;
  }  
}

/* @media (max-width: 847px) {
  .board-image {
    width: 100%;
  }
} */